/****** Object:  StoredProcedure [claims].[usp_load_final_apcd_elig_plr]    Script Date: 3/5/2026 11:05:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [claims].[usp_load_final_apcd_elig_plr]
AS
BEGIN

SET NOCOUNT ON;

TRUNCATE TABLE [claims].[final_apcd_elig_plr_2014];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2015];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2016];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2017];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2018];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2019];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2020];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2021];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2022];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2023];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2024];
TRUNCATE TABLE [claims].[final_apcd_elig_plr_2025];

INSERT INTO [claims].[final_apcd_elig_plr_2014] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2014];

INSERT INTO [claims].[final_apcd_elig_plr_2015] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2015];

INSERT INTO [claims].[final_apcd_elig_plr_2016] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2016];

INSERT INTO [claims].[final_apcd_elig_plr_2017] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2017];

INSERT INTO [claims].[final_apcd_elig_plr_2018] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2018];

INSERT INTO [claims].[final_apcd_elig_plr_2019] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2019];

INSERT INTO [claims].[final_apcd_elig_plr_2020] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2020];

INSERT INTO [claims].[final_apcd_elig_plr_2021] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2021];

INSERT INTO [claims].[final_apcd_elig_plr_2022] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2022];

INSERT INTO [claims].[final_apcd_elig_plr_2023] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2023];

INSERT INTO [claims].[final_apcd_elig_plr_2024] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2024];

INSERT INTO [claims].[final_apcd_elig_plr_2025] WITH (TABLOCK)
SELECT * FROM [claims].[stage_apcd_elig_plr_2025];

END;
