###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Remove specific files that are generated
###############################################################################
claims_db/phclaims/table_dependencies.html    linguist-generated=true

