.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rprofile
/geocoding
/renv
.vs/
claims_db/phclaims/.vs
claims_db/phclaims/obj

##Ignore personal folders on Eli's machine
analysis/Archived
claims cleanup/archive
eligibility cleanup/archive
analysis/Medicaid claims functions/archive
analysis/Medicaid claims functions/testing scripts
analysis/Broad use functions/Archived