.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
/Geocoding
Medicaid_alastair.Rproj
Medicaid_eli.Rproj
analysis/Archived
analysis/Data requests
analysis/Work in progress
eligibility cleanup/archive
analysis/Medicaid cohort function/archive
.gitignore