
--Select professional claims submitted by Sound Mental Health (billing or servicing) in 2016
select distinct BLNG_NATIONAL_PRVDR_IDNTFR, SRVCNG_NATIONAL_PRVDR_IDNTFR, CLM_CTGRY_NAME, count(tcn) as clm_cnt
from PHClaims.dbo.NewClaims
where BLNG_NATIONAL_PRVDR_IDNTFR = '1780774950' OR BLNG_NATIONAL_PRVDR_IDNTFR = '1568652220'
	OR SRVCNG_NATIONAL_PRVDR_IDNTFR = '1780774950' OR SRVCNG_NATIONAL_PRVDR_IDNTFR = '1568652220' --Sound Mental Health (which would bill the BHO/RSN)
	AND year(FROM_SRVC_DATE) = 2016 AND CLM_TYPE_CID = 1
group by BLNG_NATIONAL_PRVDR_IDNTFR, SRVCNG_NATIONAL_PRVDR_IDNTFR, CLM_CTGRY_NAME

--Select ALL claims submitted by Sound Mental Health (billing or servicing) in 2016
select distinct BLNG_NATIONAL_PRVDR_IDNTFR, SRVCNG_NATIONAL_PRVDR_IDNTFR, CLM_CTGRY_NAME, count(tcn) as clm_cnt
from PHClaims.dbo.NewClaims
where BLNG_NATIONAL_PRVDR_IDNTFR = '1780774950' OR BLNG_NATIONAL_PRVDR_IDNTFR = '1568652220'
	OR SRVCNG_NATIONAL_PRVDR_IDNTFR = '1780774950' OR SRVCNG_NATIONAL_PRVDR_IDNTFR = '1568652220' --Sound Mental Health (which would bill the BHO/RSN)
	AND year(FROM_SRVC_DATE) = 2016
group by BLNG_NATIONAL_PRVDR_IDNTFR, SRVCNG_NATIONAL_PRVDR_IDNTFR, CLM_CTGRY_NAME

--Select ALL claims submitted by Sound Mental Health (billing or servicing) in 2016
select distinct BLNG_NATIONAL_PRVDR_IDNTFR, SRVCNG_NATIONAL_PRVDR_IDNTFR,LINE_PRCDR_CODE
from PHClaims.dbo.NewClaims
where BLNG_NATIONAL_PRVDR_IDNTFR = '1780774950' OR BLNG_NATIONAL_PRVDR_IDNTFR = '1568652220'
	OR SRVCNG_NATIONAL_PRVDR_IDNTFR = '1780774950' OR SRVCNG_NATIONAL_PRVDR_IDNTFR = '1568652220' --Sound Mental Health (which would bill the BHO/RSN)
	AND year(FROM_SRVC_DATE) = 2016
