
/*
This view gets claims that meet the requirements for the DSHS RDA Substance Use
Disorder Treatment Penetration rate denominator.

Author: Philip Sylling
Created: 2019-04-23
Last Modified: 2019-04-23

Returns:
 [id]
,[tcn]
,[from_date], [FROM_SRVC_DATE]
,[flag], 1 for claim meeting denominator criteria
*/

USE PHClaims;
GO

IF OBJECT_ID('[stage].[v_perf_tps_denominator]', 'V') IS NOT NULL
DROP VIEW [stage].[v_perf_tps_denominator];
GO
CREATE VIEW [stage].[v_perf_tps_denominator]
AS

/*
SELECT [value_set_group]
      ,[value_set_name]
      ,[data_source_type]
      ,[code_set]
	  ,[active]
      ,COUNT([code])
FROM [ref].[rda_value_set]
WHERE [value_set_group] = 'SUD'
GROUP BY [value_set_group], [value_set_name], [data_source_type], [code_set], [active]
ORDER BY [value_set_group], [value_set_name], [data_source_type], [code_set], [active];

SELECT [value_set_group]
      ,[value_set_name]
      ,[data_source_type]
      ,[code_set]
	  ,[active]
      ,[code]
FROM [ref].[rda_value_set]
WHERE [value_set_name] = 'SUD-Tx-Pen-Value-Set-5' AND [code_set] = 'ICD9PCS';
*/

/*
1. Diagnosis of a drug or alcohol use disorder in any health service event (SUD-Tx-Pen-Value-Set-1)
SELECT * 
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1';
*/

SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
-- Any diagnosis (not restricted to primary)
INNER JOIN [dbo].[mcaid_claim_dx] AS dx
ON hd.[tcn] = dx.[tcn]
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1'
AND rda.[code_set] = 'ICD10CM'
AND dx.[dx_ver] = 10 
AND dx.[dx_norm] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
WHERE hd.[from_date] >= '2015-10-01'
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date

UNION

SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
-- Any diagnosis (not restricted to primary)
INNER JOIN [dbo].[mcaid_claim_dx] AS dx
ON hd.[tcn] = dx.[tcn]
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1'
AND rda.[code_set] = 'ICD9CM'
AND dx.[dx_ver] = 9 
AND dx.[dx_norm] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
WHERE hd.[from_date] < '2015-10-01'
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date

UNION

/*
2. Receipt of brief intervention (SBIRT) services (SUD-Tx-Pen-Value-Set-4)
SELECT * 
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-4';
*/

SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
INNER JOIN [dbo].[mcaid_claim_proc] AS pr
ON hd.[tcn] = pr.[tcn]
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-4'
AND rda.[code_set] IN ('CPT', 'HCPCS')
AND pr.[pcode] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date

UNION

/*
3. Receipt of medically managed detox services (SUD-Tx-Pen-Value-Set-5)
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-5';
*/

SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
INNER JOIN [dbo].[mcaid_claim_proc] AS pr
ON hd.[tcn] = pr.[tcn]
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-5'
AND rda.[code_set] IN ('HCPCS', 'ICD10PCS', 'ICD9PCS')
AND pr.[pcode] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date

UNION

SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
INNER JOIN [dbo].[mcaid_claim_line] AS ln
ON hd.[tcn] = ln.[tcn]
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-5'
AND rda.[code_set] IN ('UBREV')
AND ln.[rcode] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date

UNION

/*
4a. Procedure and DRG codes indicating receipt of inpatient/residential, 
outpatient, or methadone OST: SUD-Tx-Pen-Value-Set-2
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-2';
*/

SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
INNER JOIN [dbo].[mcaid_claim_proc] AS pr
ON hd.[tcn] = pr.[tcn]
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-2'
AND rda.[code_set] IN ('HCPCS', 'ICD9PCS')
AND pr.[pcode] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date

UNION

SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-2'
AND rda.[code_set] IN ('DRG')
AND hd.[drg_code] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date

UNION

/*
4b. NDC codes indicating receipt of other forms of medication assisted 
treatment for SUD: SUD-Tx-Pen-Value-Set-3
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-3';
*/

SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
INNER JOIN [dbo].[mcaid_claim_pharm] AS ph
ON hd.[tcn] = ph.[tcn]
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-3'
AND rda.[code_set] = 'NDC'
AND rda.[active] = 'Y'
AND ph.[ndc_code] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date

UNION

/*
4c. Outpatient encounters meeting procedure code and primary diagnosis 
criteria: SUD-Tx-Pen-Value-Set-6.xls: procedure code in SUD-Tx-Pen-Value-Set-6 
AND primary diagnosis code in SUD-Tx-Pen-Value-Set-1
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1';
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-6';
*/

SELECT
 [id]
,[tcn]
,[from_date]
--,[year_month]
,[flag]
FROM
(
SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
INNER JOIN [dbo].[mcaid_claim_proc] AS pr
ON hd.[tcn] = pr.[tcn]
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-6'
AND rda.[code_set] IN ('CPT', 'HCPCS')
AND pr.[pcode] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date

INTERSECT

SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
INNER JOIN [dbo].[mcaid_claim_dx] AS dx
ON hd.[tcn] = dx.[tcn]
-- Primary Diagnosis
AND dx.[dx_number] = 1
INNER JOIN [ref].[rda_value_set] AS rda
ON [value_set_name] = 'SUD-Tx-Pen-Value-Set-1'
AND rda.[code_set] = 'ICD10CM'
AND dx.[dx_ver] = 10 
AND dx.[dx_norm] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
WHERE hd.[from_date] >= '2015-10-01'
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date
) AS SUD_Procedure_with_Dx_value_set_ICD10CM

UNION

SELECT
 [id]
,[tcn]
,[from_date]
--,[year_month]
,[flag]
FROM
(
SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
INNER JOIN [dbo].[mcaid_claim_proc] AS pr
ON hd.[tcn] = pr.[tcn]
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-6'
AND rda.[code_set] IN ('CPT', 'HCPCS')
AND pr.[pcode] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date

INTERSECT

SELECT 
 hd.[id]
,hd.[tcn]
,hd.[from_date]
--,ym.[year_month]
,1 AS [flag]

FROM [dbo].[mcaid_claim_header] AS hd
INNER JOIN [dbo].[mcaid_claim_dx] AS dx
ON hd.[tcn] = dx.[tcn]
-- Primary Diagnosis
AND dx.[dx_number] = 1
INNER JOIN [ref].[rda_value_set] AS rda
ON [value_set_name] = 'SUD-Tx-Pen-Value-Set-1'
AND rda.[code_set] = 'ICD9CM'
AND dx.[dx_ver] = 9 
AND dx.[dx_norm] = rda.[code]
--INNER JOIN [ref].[perf_year_month] AS ym
--ON hd.[from_date] BETWEEN ym.[beg_month] AND ym.[end_month]
WHERE hd.[from_date] < '2015-10-01'
--WHERE hd.[from_date] BETWEEN @measurement_start_date AND @measurement_end_date
--WHERE hd.[from_date] BETWEEN CAST(DATEADD(YEAR, -1, @measurement_start_date) AS DATE) AND @measurement_end_date
) AS SUD_Procedure_with_Dx_value_set_ICD9CM;
GO

/*
4d. Outpatient encounters meeting taxonomy and primary diagnosis criteria: 
billing or servicing provider taxonomy code in SUD-Tx-Pen-Value-Set-7 AND 
primary diagnosis code in SUD-Tx-Pen-Value-Set-1

TAXONOMY CODE NOT AVAILABLE IN MEDICAID DATA
*/

/*
-- 5,538,070
SELECT COUNT(*) FROM [stage].[v_perf_tps_denominator];
*/


/*
This view gets BHO services that meet the requirements for the DSHS RDA Substance Use
Disorder Treatment Penetration rate denominator.

Author: Philip Sylling
Created: 2019-05-24
Last Modified: 2019-05-24

Returns:
 [kcid]
,[ea_cpt_service_id]
,[tcn]
,[event_date]
,[flag], 1 for service meeting denominator criteria
*/

USE [DCHS_Analytics];
GO

IF OBJECT_ID('[stage].[v_perf_bho_tps_denominator]', 'V') IS NOT NULL
DROP VIEW [stage].[v_perf_bho_tps_denominator];
GO
CREATE VIEW [stage].[v_perf_bho_tps_denominator]
AS

/*
SELECT [value_set_group]
      ,[value_set_name]
      ,[data_source_type]
      ,[code_set]
	  ,[active]
      ,COUNT([code])
FROM [ref].[rda_value_set]
WHERE [value_set_group] = 'SUD'
GROUP BY [value_set_group], [value_set_name], [data_source_type], [code_set], [active]
ORDER BY [value_set_group], [value_set_name], [data_source_type], [code_set], [active];
*/

/*
1. Diagnosis of a drug or alcohol use disorder in any health service event (SUD-Tx-Pen-Value-Set-1)
SELECT * 
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1';
*/

SELECT
--TOP(100)
 dx.[kcid]
,dx.[ea_cpt_service_id]
,dx.[tcn]
,dx.[event_date]
,1 AS [flag]

--SELECT COUNT(*)
FROM [php96].[auth_service_dx] AS dx
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_group] = 'SUD'
AND rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1'
AND rda.[data_source_type] = 'Diagnosis'
AND rda.[code_set] IN ('ICD9CM')
-- Any diagnosis (not restricted to primary)
AND dx.[dx_ver] = 9 
AND dx.[dx_norm] = rda.[code]
WHERE [event_date] < '2015-10-01'

UNION

SELECT
--TOP(100)
 dx.[kcid]
,dx.[ea_cpt_service_id]
,dx.[tcn]
,dx.[event_date]
,1 AS [flag]

--SELECT COUNT(*)
FROM [php96].[auth_service_dx] AS dx
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_group] = 'SUD'
AND rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1'
AND rda.[data_source_type] = 'Diagnosis'
AND rda.[code_set] IN ('ICD10CM')
-- Any diagnosis (not restricted to primary)
AND dx.[dx_ver] = 10 
AND dx.[dx_norm] = rda.[code]
WHERE [event_date] >= '2015-10-01'

UNION

/*
2. Receipt of brief intervention (SBIRT) services (SUD-Tx-Pen-Value-Set-4)
SELECT * 
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-4';
*/

SELECT
--TOP(100)
 svc.[kcid]
,svc.[ea_cpt_service_id]
,svc.[tcn]
,svc.[event_date]
,1 AS [flag]

--SELECT COUNT(*)
FROM [php96].[service_procedure] AS svc
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_group] = 'SUD'
AND rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-4'
AND rda.[data_source_type] = 'Procedure'
AND rda.[code_set] IN ('CPT', 'HCPCS')
AND svc.[pcode] = rda.[code]

UNION

/*
3. Receipt of medically managed detox services (SUD-Tx-Pen-Value-Set-5)
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-5';
*/

SELECT
--TOP(100)
 svc.[kcid]
,svc.[ea_cpt_service_id]
,svc.[tcn]
,svc.[event_date]
,1 AS [flag]

--SELECT COUNT(*)
FROM [php96].[service_procedure] AS svc
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_group] = 'SUD'
AND rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-5'
AND rda.[data_source_type] = 'Procedure'
AND rda.[code_set] IN ('HCPCS', 'ICD10PCS', 'ICD9PCS')
AND svc.[pcode] = rda.[code]

/*
There are no Billing Codes (UBREV) in the BHO database
*/

UNION

/*
4a. Procedure and DRG codes indicating receipt of inpatient/residential, 
outpatient, or methadone OST: SUD-Tx-Pen-Value-Set-2
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-2';
*/

SELECT
--TOP(100)
 svc.[kcid]
,svc.[ea_cpt_service_id]
,svc.[tcn]
,svc.[event_date]
,1 AS [flag]

--SELECT COUNT(*)
FROM [php96].[service_procedure] AS svc
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_group] = 'SUD'
AND rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-2'
AND rda.[data_source_type] = 'Procedure'
AND rda.[code_set] IN ('HCPCS', 'ICD9PCS')
AND svc.[pcode] = rda.[code]

/*
There are no DRG Codes in the BHO database
*/

/*
4b. NDC codes indicating receipt of other forms of medication assisted 
treatment for SUD: SUD-Tx-Pen-Value-Set-3
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-3';
*/

/*
There are no prescription drugs (NDC Codes) paid for in PHP96
*/

UNION

/*
4c. Outpatient encounters meeting procedure code and primary diagnosis 
criteria: SUD-Tx-Pen-Value-Set-6.xls: procedure code in SUD-Tx-Pen-Value-Set-6 
AND primary diagnosis code in SUD-Tx-Pen-Value-Set-1
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1';
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-6';
*/

SELECT
 [kcid]
,[ea_cpt_service_id]
,[tcn]
,[event_date]
,[flag]
FROM
(
SELECT
--TOP(100)
 svc.[kcid]
,svc.[ea_cpt_service_id]
,svc.[tcn]
,svc.[event_date]
,1 AS [flag]

--SELECT COUNT(*)
FROM [php96].[service_procedure] AS svc
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_group] = 'SUD'
AND rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-6'
AND rda.[data_source_type] = 'Procedure'
AND rda.[code_set] IN ('CPT', 'HCPCS')
AND svc.[pcode] = rda.[code]

INTERSECT

SELECT
--TOP(100)
 dx.[kcid]
,dx.[ea_cpt_service_id]
,dx.[tcn]
,dx.[event_date]
,1 AS [flag]

--SELECT COUNT(*)
FROM [php96].[auth_service_dx] AS dx
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_group] = 'SUD'
AND rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1'
AND rda.[data_source_type] = 'Diagnosis'
AND rda.[code_set] IN ('ICD10CM')
-- Must be Primary Diagnosis
AND dx.[dx_number] = 1
AND dx.[dx_ver] = 10 
AND dx.[dx_norm] = rda.[code]
WHERE [event_date] >= '2015-10-01'
) AS Denominator_4c

UNION

/*
4d. Outpatient encounters meeting taxonomy and primary diagnosis criteria: 
billing or servicing provider taxonomy code in SUD-Tx-Pen-Value-Set-7 AND 
primary diagnosis code in SUD-Tx-Pen-Value-Set-1

SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1';
SELECT *
FROM [ref].[rda_value_set] AS rda
WHERE rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-7';
*/

SELECT
 [kcid]
,[ea_cpt_service_id]
,[tcn]
,[event_date]
,[flag]
FROM
(
SELECT
--TOP(100)
 svc.[kcid]
,svc.[ea_cpt_service_id]
,svc.[tcn]
,svc.[event_date]
,1 AS [flag]

--SELECT COUNT(*)
FROM [php96].[service_procedure] AS svc
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_group] = 'SUD'
AND rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-7'
AND rda.[data_source_type] = 'Taxonomy'
AND rda.[code_set] IN ('HPT')
AND svc.[taxonomy] = rda.[code]

INTERSECT

SELECT
--TOP(100)
 dx.[kcid]
,dx.[ea_cpt_service_id]
,dx.[tcn]
,dx.[event_date]
,1 AS [flag]

--SELECT COUNT(*)
FROM [php96].[auth_service_dx] AS dx
INNER JOIN [ref].[rda_value_set] AS rda
ON rda.[value_set_group] = 'SUD'
AND rda.[value_set_name] = 'SUD-Tx-Pen-Value-Set-1'
AND rda.[data_source_type] = 'Diagnosis'
AND rda.[code_set] IN ('ICD10CM')
-- Must be Primary Diagnosis
AND dx.[dx_number] = 1
AND dx.[dx_ver] = 10 
AND dx.[dx_norm] = rda.[code]
WHERE [event_date] >= '2015-10-01'
) AS Denominator_4d
GO

/*
-- 4,753,941
SELECT COUNT(*) FROM [stage].[v_perf_bho_tps_denominator];
*/