
USE PHClaims;
GO

IF OBJECT_ID('[metadata].[v_rda_value_set_summary]', 'V') IS NOT NULL
DROP VIEW [metadata].[v_rda_value_set_summary];
GO
CREATE VIEW [metadata].[v_rda_value_set_summary] AS
SELECT
 [value_set_group]
,[value_set_name]
,[data_source_type]
,[sub_group]
,[code_set]
,[active]
,COUNT([code]) AS [num_code]
FROM [ref].[rda_value_set]
GROUP BY
 [value_set_group]
,[value_set_name]
,[data_source_type]
,[sub_group]
,[code_set]
,[active];
GO

SELECT * 
FROM [metadata].[v_rda_value_set_summary]
ORDER BY
 [value_set_group]
,[value_set_name]
,[data_source_type]
,[sub_group]
,[code_set]
,[active];