/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [MEDICAID_RECIPIENT_ID]
      ,[CLM_LINE_TCN]
      ,[FROM_SRVC_DATE]
      ,[TO_SRVC_DATE]
      ,[CLM_TYPE_CID]
      ,[CLM_TYPE_NAME]
      ,[REVENUE_CODE]
      ,[PLACE_OF_SERVICE]
      ,[PAID_AMT_H]
      ,[PRIMARY_DIAGNOSIS_CODE]
      ,[DIAGNOSIS_CODE_2]
      ,[DIAGNOSIS_CODE_3]
      ,[DIAGNOSIS_CODE_4]
      ,[DIAGNOSIS_CODE_5]
      ,[PRCDR_CODE_1]
      ,[PRCDR_CODE_2]
      ,[PRCDR_CODE_3]
      ,[PRCDR_CODE_4]
      ,[PRCDR_CODE_5]
      ,[MDFR_CODE1]
      ,[MDFR_CODE2]
      ,[MDFR_CODE3]
      ,[MDFR_CODE4]
  FROM [PHClaims].[dbo].[NewClaims]
  WHERE FROM_SRVC_DATE BETWEEN '2016-01-01' AND '2016-12-31'
  AND REVENUE_CODE  LIKE '045[0123456789]' OR REVENUE_CODE = 0981